/* elimine los margenes */
* {
    margin: 0;
}
body{
    background-color: rgba(230, 230, 230, 0.096);
}
header {
    height: 60vh;
    background:  url(https://i.ytimg.com/vi/-sn3w8xx8UY/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.Ptitle{
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 50px;
    padding-top: 150px;
    color: white;
    -webkit-text-stroke: 0.1px rgb(252, 172, 0);
}
.title{
    padding-top: 20px;
    padding: 10px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: rgb(252, 172, 0);    
}
.lista-nav{
    float: right;
}
nav > a{
    margin: 10px;
    padding-top: 125px;
    display: inline-block;
    text-decoration: none;
    outline: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    color: white; 
    
}

nav > a:hover{
    border-bottom: 5px solid rgb(252, 172, 0);
}
/* acomoda el menu cuando cambia la pantalla */
nav > a:last-child{
    margin-right: 24px;
}

.here{
    border-bottom: 5px solid rgb(252, 172, 0);
}

section.sobre-nosotros{
padding: 25px;
}
div.info1{
    display: flex;
    justify-content: space-around;
}
.text-nosotros{
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 10px;
    /* margin-left: auto;
    margin-right: auto; */
    font-family: 'Varela Round', sans-serif;
}

.img1{
    float: right;
    width: 900px;
    height: 300px;
}

section.servicios-{
    padding: 5px;
}

div.info2{
    display: flex;
    /* justify-content: space-around; */
}
.img2{
    float: left;
    width: 350px;
    height: 200px;
    transform: rotate(-8deg);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}
.lista-info{
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    margin: auto;
    overflow: hidden;
    left: 0;
}

li{

    animation: cambiar 5s;
}
@keyframes cambiar {

    0% {
        margin-top: 0;
    }
    20% {
        margin-top: 0;
    }

    25% {
        margin-top: -40px;
    }
    50% {
        margin-top: -40px;
    }

    55% {
        margin-top: -80px;
    }
    80% {
        margin-top: -80px;
    }

    85% {
        margin-top: -40px;
    }
    95% {
        margin-top: -40px;
    }
    100% {
        margin-top: 0;
    }
}

.img-icon{
    width: 35px;
    height: 35px;
    display: flex;

}
iframe{
    float: left;

}
.box{
    padding-left: 20px;
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
}
.contactos{
    font-family:'Varela Round', sans-serif;
    font-size: 18px;
    text-decoration: none;
    padding-bottom: 15px;
    justify-content: space-between;
}

.ig{
    color: black;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    outline: none;
    display: flex;
}

footer{
    background-color: rgb(252, 172, 0);
    font-family: 'Varela Round', sans-serif;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: black;
    border-bottom: 3px solid red;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.content-foo p{
    color: white;
}

.copy{
    padding-top: 10px;
    padding-bottom: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}



