/* elimine los margenes */
* {
    margin: 0;
}
body{
    background-color: rgba(230, 230, 230, 0.096);
}
header {
    height: 60vh;
    background:  url(https://i.ytimg.com/vi/-sn3w8xx8UY/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.Ptitle{
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 50px;
    padding-top: 150px;
    color: white;
    -webkit-text-stroke: 0.1px rgb(252, 172, 0);
}
.title{
    padding-top: 20px;
    padding: 10px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: rgb(252, 172, 0);    
}
.lista-nav{
    float: right;
}
nav > a{
    margin: 10px;
    padding-top: 125px;
    display: inline-block;
    text-decoration: none;
    outline: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    color: white; 
    
}

nav > a:hover{
    border-bottom: 5px solid rgb(252, 172, 0);
}
/* acomoda el menu cuando cambia la pantalla */
nav > a:last-child{
    margin-right: 24px;
}

section.sobre-nosotros{
padding: 5px;
}
div.info1{
    display: flex;
    justify-content: space-around;
}
.text-nosotros{
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 10px;
}

.img1{
    float: right;
    width: 550px;
    height: 200px;
}

section.servicios-{
    padding: 5px;
}

div.info2{
    display: flex;
    justify-content: space-around;
}
.img2{
    float: left;
    width: 450px;
    height: 250px;
}
.lista-info{
    float: right;
    font-size: 16px;
}
li.lista{
    padding-top: 15px;
}

.img-icon{
    width: 35px;
    height: 35px;
    display: flex;

}
iframe{
    float: left;

}
.box{
    padding-left: 20px;
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
}
.contactos{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-decoration: none;
    padding-bottom: 15px;
}

.ig{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    outline: none;
    display: flex;
}

footer{
    background-color: rgb(252, 172, 0);
    padding: 20px 10px;
    display: block;
    justify-content: space-around;
}

.copy{
    background-color: rgb(252, 172, 0);
    padding: 30px;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    outline: none;
    display: flex;
    justify-content: space-around;
}



